.Title {
  width: 100%;
  height: 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Title-text {
  display: inline-block;
  padding-left: 20px;
  border-left: 0.5rem solid #ae0000;
  font-size: 1.8rem;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-target {
  position: relative;
}

.title-placeholder {
  position: absolute;
  width: 100vw;
  display: block;
  height: 8rem;
  top: -8rem;
}

