.Home {
  width: 100%;
}
.Home-header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.Home-body {
  position: relative;
  top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  overflow: scroll;
}

