

@media screen and (max-width: 500px) { 
    .CompositionBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4vw 0;
    }
    
    .CompositionBody > div {
        margin: 1rem 0;
    }
    .CompositionBody > div > img {
        width: 8.75rem;
        height: 8.75rem;
        /* margin-right: 6rem; */
    }
    
    .compositionBody-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    
    .islast {
        padding-bottom: 2rem;
        border-bottom: 1px dashed #A9BBCF
    }
    
    .compositionBody-right-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size:1.2rem;
        font-family:PingFangSC-Medium;
        color:rgba(96,111,128,1);
        margin-bottom: 2rem;
    }
    
    .compositionBody-right-title > div {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background:rgba(174,0,0,1);
        margin-right: 2rem;
    
    }
    
    .compositionBody-right-content {
        font-size: 1rem;
        font-family:PingFangSC-Regular;
        color:rgba(96,111,128,1);
        line-height: 2rem;
    }

}

@media screen and (min-width: 500px) { 
    .CompositionBody {
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        margin: 4vw 0;
    }
    
    .CompositionBody > div > img {
        width: 8.75rem;
        height: 8.75rem;
        margin-right: 6rem;
    }
    
    .compositionBody-right {
        width: 100%;
        height: 8.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    
    .islast {
        padding-bottom: 2rem;
        border-bottom: 1px dashed #A9BBCF
    }
    
    .compositionBody-right-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size:1.2rem;
        font-family:PingFangSC-Medium;
        color:rgba(96,111,128,1);
        margin-bottom: 2rem;
    }
    
    .compositionBody-right-title > div {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background:rgba(174,0,0,1);
        margin-right: 2rem;
    
    }
    
    .compositionBody-right-content {
        font-size: 1rem;
        font-family:PingFangSC-Regular;
        color:rgba(96,111,128,1);
        line-height: 2rem;
    }

}