.rocket-system-composition-img {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80vw;
   margin: 0 auto;
   padding: 5rem 0;
}

.rocket-system-composition-img > img {
    width: 90%;
}

