.dynamic-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
}

.modal-title {
  font-size: 1.5rem;
  text-align: center;
  color: #AE0000;
  padding: 1rem 0;
}

.modal-content {
  padding: 2vw;
  height: 85vh;
  overflow: scroll;
}

.dynamic-modal-title {
  font-size: 1.4rem;
  color: #233141;
  text-align: center;
}

.dynamic-modal-info {
    font-size: 1rem;
    color: #606F80;
    line-height: 2rem;
    margin: 1vw 0;
    text-indent: 2em;
    
}

.modal-content-info {
  margin: 3rem;
}

.modal-content-img, .modal-content-img> img {
  width: 100%;
  margin: 2rem 0;
}


@media screen and (min-width: 900px) {
  .date-header {
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .date-header-left, .date-header-right {
    width: 1.2vw;
    cursor: pointer;
  }

  .dynamic-content {
    margin: 3vw 0;
    background-color:  #FCFCFC;
    padding: 0 3vw;
  }
  .dynamic-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    padding: 2vw 0;
  }
  .dynamic-item-date {
    width: 10%;
    text-align: center;
    font-size: 1.5rem;
    color: #606F80;
    padding-top: 2vw;
  }

  .dynamic-item-date > span{
    color: #AE0000;
    font-size: 2.5rem;
  }

  .dynamic-item-content {
    width: 65%;
  }
  .dynamic-item-title {
    font-size: 1.3rem;
    color: #233141;
  }

  .dynamic-item-info {
    font-size: 0.8rem;
    color: #606F80;
    line-height: 1.6rem;
    margin: 1vw 0;
  }

  .dynamic-item-more {
    color: #AE0000;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

  .dynamic-item-more-img {
    width: 1rem;
    height: 1rem;
    margin-left: 2vw;
  }

  .dynamic-item-img {
    width: 20%;
    height: 15vh;
    border: 1px solid #000;
  }
  .dynamic-item-img > img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .date-header {
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    font-size: 3.5vw;
  }

  .date-header-left, .date-header-right {
    width: 2vw;
    cursor: pointer;
  }

  .dynamic-content {
    margin: 3vw 0;
    background-color:  #FCFCFC;
    padding: 0 3vw;
  }
  .dynamic-item {
    border-bottom: 1px solid #D9D9D9;
    padding: 2vw 0;
  }
  .dynamic-item-date {
    text-align: center;
    font-size: 1rem;
    color: #606F80;
    padding-top: 2vw;
  }

  .dynamic-item-date > span{
    color: #AE0000;
    font-size: 2rem;
  }

  .dynamic-item-content {
    margin: 2vw 0;
  }
  .dynamic-item-title {
    font-size: 1.3rem;
    color: #233141;
  }

  .dynamic-item-info {
    font-size: 0.8rem;
    color: #606F80;
    line-height: 1.6rem;
    margin: 1vw 0;
  }

  .dynamic-item-more {
    color: #AE0000;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

  .dynamic-item-more-img {
    width: 1rem;
    height: 1rem;
    margin-left: 2vw;
  }

  .dynamic-item-img {
    width: 100%;
    height: 20vh;
    border: 1px solid #000;
  }
  .dynamic-item-img > img {
    width: 100%;
    height: 100%;
  }
}


  @media screen and (max-width: 500px) {
    .date-header {
      background-color: #FCFCFC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2vw 4vw;
      font-size: 3.5vw;
    }

    .date-header-left, .date-header-right {
      width: 2vw;
      cursor: pointer;
    }

    .dynamic-content {
      margin: 3vw 0;
      background-color:  #FCFCFC;
      padding: 0 3vw;
    }
    .dynamic-item {
      border-bottom: 1px solid #D9D9D9;
      padding: 2vw 0;
    }
    .dynamic-item-date {
      text-align: center;
      font-size: 1rem;
      color: #606F80;
      padding-top: 2vw;
    }

    .dynamic-item-date > span{
      color: #AE0000;
      font-size: 2rem;
    }

    .dynamic-item-content {
      margin: 2vw 0;
    }
    .dynamic-item-title {
      font-size: 1.3rem;
      color: #233141;
    }

    .dynamic-item-info {
      font-size: 0.8rem;
      color: #606F80;
      line-height: 1.6rem;
      margin: 1vw 0;
    }

    .dynamic-item-more {
      color: #AE0000;
      font-size: 0.8rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }

    .dynamic-item-more-img {
      width: 1rem;
      height: 1rem;
      margin-left: 2vw;
    }

    .dynamic-item-img {
      width: 100%;
      height: 20vh;
      border: 1px solid #000;
    }
    .dynamic-item-img > img {
      width: 100%;
      height: 100%;
    }
  }
